@model IEnumerable<ShoppingMvcApp.Models.InvestoryControl>

@{
    ViewData["Title"] = "在庫管理";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvestoryAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvestoryAmount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.productId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.productId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.productId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
