@model IEnumerable<ShoppingMvcApp.Models.PurchaseHistory>

@{
    ViewData["Title"] = "Index";
}

<h1>マイページ</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.detailsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.purchaseDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.detailsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.purchaseDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PurchaseHistoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PurchaseHistoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PurchaseHistoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
