@model IEnumerable<ShoppingMvcApp.Models.Product>
@using ShoppingMvcApp.Models;
@{
    ViewData["Title"] = "カート";
    List<Product> cartList = (List<Product>)ViewData["cartList"];
    int total = 0;
    foreach(var p in cartList){
        total += (p.price * p.count);
    }
}

<h1>カート</h1>

<p>
    @if(cartList.Count <= 0){
        <Text>カートに商品がありません</Text>
    }
    <!-- <a asp-action="Edit">Edit</a> -->
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               @Html.DisplayNameFor(model => model.image_url) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productName) 
            </th>
            <th>
               @Html.DisplayNameFor(model => model.price) 
            <th>
               @Html.DisplayNameFor(model => model.count) 
            </th>
            <th>
                小計
            </th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in cartList) {
        <tr>
            <td>
                <img src=@item.image_url width="80" height="80">
            </td>
            <td>
                @item.productName
            </td>
            <td>
                @item.price
            </td>
            <td>
                @item.count
            </td>
            <td>
                @{
                    int subTotal = item.price * item.count;
                    <Text>@subTotal 円</Text>
                }
            </td>
            <td>
                 <form asp-controller="Carts" asp-action="DeleteCart" asp-route-id="@item.productId" method="POST">
                    <input type="submit" value="カートから削除" class="btn btn-primary">
                </Form>
            </td>
        </tr>
        }
    </tbody>
    <tbody>
    <div class="text-right">
        <span style="font-size: 30px">合計金額： @total</span>
        <form method="post" asp-controller="Carts" asp-action="OrderedPage">
            <div class="form-group">
                <input type="submit" value = "注文確定" class="btn btn-primary"  />
            </div>
        </form>
    </div>
    </tbody>
</table>
