@model IEnumerable<ShoppingApp.Models.User>

@{
    ViewData["Title"] = "会員登録";
}

<!-- <h1>Index</h1> -->

<p>
    <a asp-action="Create">会員登録</a>
</p>
<!-- <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th></th>
        </tr>
    </thead> 
<tbody>-->