@model ShoppingApp.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <img src=@Model.image_url width="80" height="80">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.create_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.create_date)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="AddCart" asp-route-id="@Model.productId" method="POST">
        <select name="count">
            <option value=0 selected>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
            <option value=6>6</option>
            <option value=7>7</option>
            <option value=8>8</option>
            <option value=9>9</option>               
        </select>
        <input type="submit" value="カートに入れる" class="btn btn-primary">
    </Form>
    <a asp-action="Edit" asp-route-id="@Model.productId">編集</a> |
    <a asp-action="Index">商品一覧へ</a>
</div>
