@model IEnumerable<ShoppingApp.Models.Product>

@{
    ViewData["Title"] = "商品一覧";
}

<h1>商品一覧</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.image_url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.create_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="Products" asp-action="Details" asp-route-id="@item.productId">
                    <img src=@item.image_url width="40" height="40">
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.create_date)
            </td>
            <td>
            <a asp-action="AddCart" asp-route-id="@item.productId">カートに入れる</a>
                <form method="POST" asp-controller="Products" asp-action="AddCart">
                    <intput type="hidden" name="productId" id="productId" value=@item.productId />
                    <intput type="hidden" name="productName" id="productName" value=@item.productName />
                    <intput type="hidden" name="price" id="price" value=@item.price />
                    <intput type="hidden" name="prices" id="prices" value=5000 />
                    <input type="submit" value="カートに入れる" />
                </form>
                <a asp-action="Delete" asp-route-id="@item.productId">削除</a>
            </td>
        </tr>
}
    </tbody>
</table>
