@model IEnumerable<ShoppingApp.Models.Product>

@{
    ViewData["Title"] = "商品一覧";
}

<h1>商品一覧</h1>

<p>
    <div class="text-right">
        <form method="post" asp-controller="Carts" asp-action="Index">
            <div class="form-group">
                <input type="submit" value = "カート" class="btn btn-primary"  />
            </div>
        </form>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.image_url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.create_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.count)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="Products" asp-action="Details" asp-route-id="@item.productId">
                    <img src=@item.image_url width="80" height="80">
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.create_date)
            </td>
            <td>
                <form asp-controller="Products" asp-action="AddCart" asp-route-id="@item.productId" method="POST">
                    <select name="count">
                        <option value=0 selected>0</option>
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                        <option value=6>6</option>
                        <option value=7>7</option>
                        <option value=8>8</option>
                        <option value=9>9</option>               
                    </select>
                    <input type="submit" value="カートに入れる" class="btn btn-primary">
                </Form>
            </td>
        </tr>
}
    </tbody>
</table>
